Source: ros-melodic-codec-image-transport
Section: misc
Priority: extra
Maintainer: Yoshito Okada <okada@rm.is.tohoku.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-image-transport, ros-melodic-pluginlib, ros-melodic-roscpp, ros-melodic-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-codec-image-transport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-image-transport, ros-melodic-pluginlib, ros-melodic-roscpp, ros-melodic-sensor-msgs
Description: The codec_image_transport package
