Source: ros-noetic-codec-image-transport
Section: misc
Priority: optional
Maintainer: Yoshito Okada <okada@rm.is.tohoku.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ffmpeg, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, ros-noetic-catkin, ros-noetic-image-transport, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-codec-image-transport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ffmpeg, libavcodec-dev, libavformat-dev, libavutil-dev, libswscale-dev, ros-noetic-image-transport, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-sensor-msgs
Description: The codec_image_transport package
